<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cuteNTR.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C73D230245B3B546DF4DDFEA5A8E93236894BA6B</string>
				<key>dateExpires</key>
				<string>6/28/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C73D230245B3B546DF4DDFEA5A8E93236894BA6B</string>
						<key>dateExpires</key>
						<string>6/28/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ffmpegkit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3SJZQ945LJ</string>
						<key>name</key>
						<string>Frederick Biddix</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C73D230245B3B546DF4DDFEA5A8E93236894BA6B</string>
						<key>dateExpires</key>
						<string>6/28/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3SJZQ945LJ</string>
						<key>name</key>
						<string>Frederick Biddix</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C73D230245B3B546DF4DDFEA5A8E93236894BA6B</string>
						<key>dateExpires</key>
						<string>6/28/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavcodec.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3SJZQ945LJ</string>
						<key>name</key>
						<string>Frederick Biddix</string>
					</dict>
					<key>versionNumber</key>
					<string>60.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.1.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C73D230245B3B546DF4DDFEA5A8E93236894BA6B</string>
						<key>dateExpires</key>
						<string>6/28/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavdevice.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3SJZQ945LJ</string>
						<key>name</key>
						<string>Frederick Biddix</string>
					</dict>
					<key>versionNumber</key>
					<string>60.1.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C73D230245B3B546DF4DDFEA5A8E93236894BA6B</string>
						<key>dateExpires</key>
						<string>6/28/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavfilter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3SJZQ945LJ</string>
						<key>name</key>
						<string>Frederick Biddix</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C73D230245B3B546DF4DDFEA5A8E93236894BA6B</string>
						<key>dateExpires</key>
						<string>6/28/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavformat.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3SJZQ945LJ</string>
						<key>name</key>
						<string>Frederick Biddix</string>
					</dict>
					<key>versionNumber</key>
					<string>60.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>58.2.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C73D230245B3B546DF4DDFEA5A8E93236894BA6B</string>
						<key>dateExpires</key>
						<string>6/28/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavutil.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3SJZQ945LJ</string>
						<key>name</key>
						<string>Frederick Biddix</string>
					</dict>
					<key>versionNumber</key>
					<string>58.2.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4.10.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C73D230245B3B546DF4DDFEA5A8E93236894BA6B</string>
						<key>dateExpires</key>
						<string>6/28/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libswresample.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3SJZQ945LJ</string>
						<key>name</key>
						<string>Frederick Biddix</string>
					</dict>
					<key>versionNumber</key>
					<string>4.10.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7.1.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C73D230245B3B546DF4DDFEA5A8E93236894BA6B</string>
						<key>dateExpires</key>
						<string>6/28/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libswscale.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3SJZQ945LJ</string>
						<key>name</key>
						<string>Frederick Biddix</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.100</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3SJZQ945LJ.com.authxero.adorableNTR</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3SJZQ945LJ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>cuteNTR.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>147f4fe0-5bf3-4068-a005-a2b211745d1c</string>
				<key>dateExpires</key>
				<string>6/28/25</string>
				<key>name</key>
				<string>AdorableNtr-AppDistribution</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3SJZQ945LJ</string>
				<key>name</key>
				<string>Frederick Biddix</string>
			</dict>
			<key>versionNumber</key>
			<string>2.1</string>
		</dict>
	</array>
</dict>
</plist>
